@model Bai_5._3.Models.MailInfo
@{
    ViewBag.Title = "Index";
}

<h2>Send mail</h2>
@using (Html.BeginForm(new { enctype = "multipart/form-data" }))
{
        <div>
            @Html.LabelFor(m => m.From, "From") <br />
            @Html.EditorFor(m => m.From)
        </div>
        <div>
            @Html.LabelFor(m => m.To, "To")<br />
            @Html.EditorFor(m => m.To)

        </div>
        <div>
            @Html.LabelFor(m => m.Subject, "Subject")<br />
            @Html.EditorFor(m => m.Subject, new {type = "file"})

        </div>
        <div>
            @Html.LabelFor(m => m.Attachment, "Attachment")<br />

            <input id="fileUpload" name="fileUpload" type="file" />

        </div>
        <div>
            @Html.LabelFor(m => m.Note, "Note")<br />
            @Html.TextAreaFor(m => m.Note, new { @rows = "5", @cols = "50" })
        </div>
        <input type="submit" value="Send" />
        }
